In [1]:
import pandas as pd 
import matplotlib.pyplot as plt

In [65]:
study_original_df = pd.read_excel("./data/studyGroup-original.xlsx")
study_scores_df = pd.read_excel("./data/studyGroup-scores.xls")
control_scores_df = pd.read_excel("./data/control-scoring.xlsx")

In [68]:
study_scores_df.head()

,ID,Gender,Age,Employment,Marital,children,MinorChildren,AcademicalLevel,DiabetesType,DurationDiabetes,...,Energy27,BlueDownhearted28,Wornout29,happy30,Tired31,P32hysicalEmotionOnSocial2,SickEasier33,AsEqual34,worsen35,ExcellentHealth36
0,1,0,47,3,2,1,5,4,2,12,...,80,100,60,100,40,50,50,25,75,75
1,2,0,64,2,2,1,1,5,2,26,...,100,100,60,100,40,50,100,75,100,100
2,3,0,67,2,4,1,0,5,2,15,...,100,60,60,100,60,100,50,75,75,100
3,4,0,41,3,2,1,4,2,2,7,...,60,80,40,100,40,75,50,25,75,100
4,5,0,57,2,2,1,0,4,2,17,...,60,100,60,100,40,25,50,75,50,75

In [69]:
control_scores_df.head()

,ID,gender,age,marital,Employment,AcademicalLevel,DiabetesType,DurationDiabetes,MedicineType,Adherence,...,Energy27,BlueDownhearted28,Wornout29,happy30,Tired31,P32hysicalEmotionOnSocial2,SickEasier33,AsEqual34,worsen35,ExcellentHealth36
NaN,1,1,63,3,1,5,2,3,1,1,...,60,60,60,40,60,75,75,25,50,75
NaN,2,0,16,1,0,4,1,6,0,1,...,60,100,40,60,40,100,25,50,50,25
NaN,3,1,52,2,0,4,2,10,1,1,...,60,20,0,80,0,75,50,25,25,75
NaN,4,1,52,2,0,4,2,22,0,1,...,80,80,60,40,60,75,50,25,50,75
NaN,5,0,44,2,1,5,2,16,0,0,...,80,40,60,60,60,75,25,50,50,75

In [39]:
#print(study_scores_df.describe())

In [40]:
#print(study_scores_df.dtypes)

In [41]:
def adjust_idx(l):
    return [item-1 for item in l]

In [60]:
study_socio_demog = study_scores_df.iloc[:, :17]
control_soci_demog = control_scores_df.iloc[:, :11]

study_domains = study_scores_df.iloc[:,17:]
control_domains = control_scores_df.iloc[:,11:]

In [54]:
study_phys_func = study_domains.iloc[:,2:12]
study_rol_lims_health = study_domains.iloc[:, adjust_idx([13, 14, 15, 16])]
study_rol_lims_emotion = study_domains.iloc[:, adjust_idx([17, 18, 19])]
study_energy = study_domains.iloc[:, adjust_idx([23, 27, 29, 31])]
study_emoti_well_being = study_domains.iloc[:, adjust_idx([24, 25, 26, 28, 30])]
study_social_fuctioning =  study_domains.iloc[:, adjust_idx([20, 32])]
study_pain = study_domains.iloc[:, adjust_idx([21, 22])]
study_general_health = study_domains.iloc[:, adjust_idx([1, 33, 34, 35, 36])]


control_phys_func = control_domains.iloc[:,2:12]
control_rol_lims_health = control_domains.iloc[:, adjust_idx([13, 14, 15, 16])]
control_rol_lims_emotion = control_domains.iloc[:, adjust_idx([17, 18, 19])]
control_energy = control_domains.iloc[:, adjust_idx([23, 27, 29, 31])]
control_emoti_well_being = control_domains.iloc[:, adjust_idx([24, 25, 26, 28, 30])]
control_social_fuctioning =  control_domains.iloc[:, adjust_idx([20, 32])]
control_pain = control_domains.iloc[:, adjust_idx([21, 22])]
control_general_health =  control_domains.iloc[:, adjust_idx([1, 33, 34, 35, 36])]